# Firebase service account credentials file path
GOOGLE_APPLICATION_CREDENTIALS=./kpidebug/firebase-credentials.json

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# Server settings
HOST=0.0.0.0
PORT=8000

# UI settings
UI_PORT=3000
REACT_APP_API_URL=http://localhost:8000
REACT_APP_FIREBASE_API_KEY=YOUR_API_KEY
REACT_APP_FIREBASE_AUTH_DOMAIN=YOUR_PROJECT_ID.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
REACT_APP_FIREBASE_STORAGE_BUCKET=YOUR_PROJECT_ID.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=YOUR_SENDER_ID
REACT_APP_FIREBASE_APP_ID=YOUR_APP_ID
